.image {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
}

.border {
  padding: 1em;
  border: 3px solid gray;
  box-shadow: 3px 2px;
}

.margin {
  margin-bottom: 40px;
}

.category {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.button {
  display: flex;
  flex-direction: row-reverse;
}

.border {
  width: 700px;
  height: 700px;
  border-radius: 10px;
  overflow: auto;
}

.close {
  flex-direction: column;
  justify-content: flex-end;
}

.popup{
  display:flex;
  flex-direction:row;
  margin-top:20px;
  justify-content:space-between;
}

.total{
  display:flex;
  justify-content:space-between;
}