.image {
  display: flex;
  flex-direction: row;
  list-style-type: none; 
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
}

.border {
  padding: 1em;
  border: 3px solid gray;
  box-shadow: 3px 2px;
}

.margin {
  margin-bottom: 40px;
}

.category {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.button {
  display: flex;
  flex-direction: row-reverse;
}

.border {
  width: 700px;
  height: 700px;
  border-radius: 10px;
  overflow: auto;
}

.close {
  flex-direction: column;
  justify-content: flex-end;
}

.popup {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-between;
}

.total {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}

svg:hover {
  fill: rgb(214, 176, 4);
}

.card {
  margin-bottom: 50px;
  width:500px;
}

#minus {
  background-color:red;
  color: white;
  border-radius:100px;   
  height: 27px;
  width:30px;
}

#minus:hover {
  background-color:white;
  color: red;
  border-radius:100px;  
  height: 30px;
  width:30px;
}

#plus{
  background-color:green;
  color: white;
  border-radius:100px;  
  width:30px;
  height: 27px;
}

#plus:hover{
  background-color:white;
  color: green;
  border-radius:100px;  
  width:30px;
  height: 30px;
}

