.a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  margin-right: 20px;
}

.a:hover {
  color: rgb(214, 176, 4);
}

.flexy {
  display: flex;
  flex-direction: row;
}

.nav-bar {
  background-color: rgb(46, 147, 70);
  padding: 1em;
}

.cart-counter {
  border: 2px solid white;
  padding: 10px;
  border-radius: 5px;
}
